@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('@fontsource/bebas-neue/files/bebas-neue-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url('@fontsource/plus-jakarta-sans/files/plus-jakarta-sans-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-display: block;
  font-weight: 500;
  src: url('@fontsource/plus-jakarta-sans/files/plus-jakarta-sans-latin-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-display: block;
  font-weight: 600;
  src: url('@fontsource/plus-jakarta-sans/files/plus-jakarta-sans-latin-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-display: block;
  font-weight: 700;
  src: url('@fontsource/plus-jakarta-sans/files/plus-jakarta-sans-latin-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-display: block;
  font-weight: 800;
  src: url('@fontsource/plus-jakarta-sans/files/plus-jakarta-sans-latin-800-normal.woff2') format('woff2');
}

@layer base {
  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: #060709;
    color: #ffffff;
    overflow-x: hidden;
  }
}
